@font-face {
  font-family: "iconfont"; /* Project id 3777243 */
  src: url('iconfont.woff2?t=1673012787750') format('woff2'),
       url('iconfont.woff?t=1673012787750') format('woff'),
       url('iconfont.ttf?t=1673012787750') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-gengduo1:before {
  content: "\e8af";
}

.icon-renminbi:before {
  content: "\e601";
}

.icon-gongjiao:before {
  content: "\e602";
}

.icon-feiji:before {
  content: "\e603";
}

.icon-yaopin:before {
  content: "\e604";
}

.icon-gouwuchexuanzhong:before {
  content: "\e606";
}

.icon-qita:before {
  content: "\e61a";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-classnotes:before {
  content: "\e643";
}

.icon-ziyuan:before {
  content: "\e629";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-icon_sanjiaoxing:before {
  content: "\e6bb";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fushi:before {
  content: "\e7ec";
}

.icon-canyin:before {
  content: "\e7ed";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-notes:before {
  content: "\e822";
}

.icon-xiaolian:before {
  content: "\e75a";
}

.icon-licai:before {
  content: "\e67a";
}

.icon-refund:before {
  content: "\e62a";
}

.icon-wodegongzi:before {
  content: "\e65a";
}

.icon-zhuanzhang:before {
  content: "\e615";
}

.icon-gongzi:before {
  content: "\e7e9";
}

.icon-search:before {
  content: "\e67d";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-maozhao:before {
  content: "\e605";
}

.icon-down:before {
  content: "\e69b";
}

.icon-cc-user:before {
  content: "\e6af";
}

.icon-zhangdan1:before {
  content: "\e6b8";
}

.icon-tongji:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-zhangdan:before {
  content: "\e62c";
}

